.wrap {
  display: grid;
  align-items: flex-end;
  position: relative;
}

.container {
  display: grid;
  row-gap: 12px;
  position: absolute;
  width: 150%;
  max-width: 300px;
}

.title {
  font-family: 'HelveticaNeueCyr', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #fff;
}

.text {
  font-family: 'AvantGardeC', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #80898F;
}


@media screen and (max-width: 600px) {
  .container {
    position: static;
  }
}