.wrap {
  height: 1340px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 200px;
}

.dec {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0, 0.4);
  z-index: 2;
}

.personWrap {
  position: absolute;
  left: 0;
  width: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.person {
  width: 100%;
  opacity: 0.4;
}

.phone {
  position: relative;
  z-index: 10;
}

.phone img {
  height: 700px;
}

.textWrap {
  position: absolute;
  transform: translateX(300px);
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0px 20px;
}

.text {
  color: #fff;
  font-family: 'HelveticaNeueCyr', serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  max-width: 300px;
  transform: translate(50px, -80px);
}

@media screen and (max-width: 1000px) {
  .wrap {
    height: 1000px;
  }
}

.phone {
  margin-top: 120px;
}

.phoneImage {

}

@media screen and (max-width: 800px) {
  .wrap {
    height: auto;
    padding: 40px 0;
  }
  .personWrap {
    width: 100%;
    height: 100%;
  }

  .dec {
    display: block;
  }

  .textWrap {
    position: static;
    transform: translateX(0);
  }

  .text {
    transform: translateY(0);
  }
}
