.wrap {
  margin-top: 73px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.image {
  width: 260px;
  border-radius: 8px;
}

.wrap > div:nth-child(3) {
  transform: translateY(-30px);
}