.wrap {
  background: #000;
}

.container {
  text-align: center;
  padding-top: 238px;
}

.title {
  font-family: 'HelveticaNeueCyr', serif;
  font-size: 105px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
  font-weight: 400;
  letter-spacing: 10px;
}

.image {
  height: 700px;
  overflow: hidden;
  text-align: center;
}

.image > img {
  width: 650px;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 258px;
  height: 80px;
}

.iconName {
  display: block;
  margin: 60px auto 95px auto;
  height: 70px;
}


@media screen and (max-width: 700px) {
  .container {
    padding-top: 65px;
  }

  .image {
    height: 525px;
  }

  .image > img {
    width: 321px;
  }

  .title {
    font-size: 58px;
  }

  .iconName {
    width: 308px;
    height: 45px;
    margin: 30px auto 95px auto;
  }
}


@media screen and (max-width: 400px) {

  .icon {
    width: 131px;
    height: 47px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .title {
    letter-spacing: 3px;
  }
}